@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

.xml-struct,
.xml-nested {
    list-style: none;
    margin: 0;
}

.xml-nested {
    margin-left: 40px;
}

.xml-struct li {
    margin: 0.75em 0;
}

.xml-node-name {
    font-weight: bold;
}

.xml-node-attribute {
    display: inline-block;
    color: #556dff;
}

.xml-node-attribute:first-child {
    margin-left: 0.5em;
}

.xml-node-text {
    color: #555;
}

.xml-editable {
    position: relative;
    display:inline-block;
    z-index: 5;
}

.xml-editable:hover,
.xml-editable.active {
    background: rgba(0,0,0,0.3);
    padding: 3px;
    margin: -3px;
    color: #000;
    
    border-radius: 3px;
}

.xml-editable.xml-node-text-value[contentEditable='true'] {
    border: 1px solid red;
    padding: 2px;
    outline: none;
}

.xml-editable.xml-node-text-value[contentEditable='true'] .xml-edit-panel {
    top: -1px;
    padding-left: 4px;
}

.xml-edit-panel {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    padding-left: 3px;
    cursor: pointer;
}

.xml-edit-panel .icon-edit,
.xml-edit-panel .icon-ok-sign,
.xml-edit-panel .icon-remove-sign {
    display: none;
    margin-right: 1px;
}

.xml-editable:hover .xml-edit-panel,
.xml-editable.active .xml-edit-panel{
    display: block;
    width: 16px;
}

.xml-editable:hover .xml-edit-panel .icon-edit,
.xml-editable.active .xml-edit-panel .icon-edit{
    display: inline-block;
}