@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

.xml-struct,
.xml-nested {
    list-style: none;
    margin: 0;
}

.xml-nested {
    margin-left: 40px;
}

.xml-struct li {
    margin: 0.75em 0;
}

.xml-node-name {
    font-weight: bold;
}

.xml-node-attribute {
    display: inline-block;
    color: #556dff;
    margin-left: 3px;
}

.xml-node-text {
    color: #555;
}

.xml-editable {
    position: relative;
    display:inline-block;
    z-index: 5;
}

.xml-editable:focus,
.xml-editable:active {
    outline: none;
}

.xml-editable:hover,
.xml-editable.active {
    background: rgba(163, 163, 163,1);
    padding: 3px;
    margin: -3px;
    color: #000;
    
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0, 0.85);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0, 0.85);
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.85);
    
    z-index: 10;
}

#xml_container .xml-editable.xml-node-attribute:hover,
#xml_container .xml-editable.xml-node-attribute.active {
    margin-left: 0;
}

.xml-editable.xml-node-text-value[contentEditable='true'] {
    border: 1px solid red;
    padding: 2px;
    outline: none;
}

.xml-editable.xml-node-text-value[contentEditable='true'] .xml-edit-panel {
    top: -1px;
    padding-left: 4px;
    padding-top: 0;
    z-index: 11;
}

.xml-edit-panel {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    padding-left: 3px;
    cursor: pointer;
    background: rgba(163, 163, 163,1);
    
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.xml-edit-panel .icon-edit,
.xml-edit-panel .icon-ok-sign,
.xml-edit-panel .icon-remove-sign {
    display: none;
    margin-right: 1px;
}

.xml-edit-panel .icon-edit {
    display: inline-block;
}

.xml-editable:hover .xml-edit-panel,
.xml-editable.active .xml-edit-panel{
    display: block;
    width: 16px;
}

.xml-editable.edited .xml-edit-panel .icon-ok-sign,
.xml-editable.edited .xml-edit-panel .icon-remove-sign {
    display: inline-block;
}

.xml-editable.edited .icon-edit {
    display: none;
}

.xml-editable.edited .xml-edit-panel {
    width: 32px;
}